
Simulated Data/b.working.data/working.3.6.Rdata
Simulated Data/b.working.data/working.3.5.Rdata
Simulated Data/b.working.data/working.3.4.Rdata
Simulated Data/b.working.data/working.3.3.Rdata
b.working.data/working.5.Rdata
b.working.data/working.4.Rdata
b.working.data/working.3.Rdata
b.working.data/working.2.Rdata
